.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}

.portfolio li{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li span{
    font-size: 1.3rem;
    font-weight: 800;
}

.portfolio li span::before{
    content: '';
    background-image: url('../img/github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding-right: .5rem;
}

.portfolio li a{
    color: #ffff;
    font-weight: 400;
    text-decoration: none;
}

.portfolio li a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 768px){
    .portfolio li a{
        color: #ffff;
        font-weight: 400;
        text-decoration: none;
        font-size: .7rem;
        
    }
    
}